@charset "UTF-8";
/* 系统颜色标准 */
$sys-bg-color:				#2f4d71!default;
$sys-active-color:          #243f60!default;
$sys-content-bg-color:		#ffffff!default;



/* 左侧树菜单 */
$mtree-hover:				#263e5a!default;
/* 主TBA 菜单 */
$sys-navtab-content-bg-color:#f7f9f8!default;
$sys-navtab-tab-bg-color:	#f7f9f8!default;
$sys-navtab-tab-bg-select-color:	#2f4d71!default;
$text-color:				#37474f!default;/* 37474f */  /* 76838f */
$text-color-white:			#ffffff!default;
$text-color-white-hover:	#f5f5f5!default;
$text-color-gray:			#a8a8a8!default;
$text-color-light-blue:		#7ba4d6!default;
$text-color-disabled:		#666666!default;
$border-gray:				#dfe5e7!default;
$border-navtab-gray:		#999999!default;
$border-navtab-auto-gray:	#c7c7c7!default;
$border-navtab-auto-gray:	#c7c7c7!default;



/* 系统字体标准 */
$text-18:	18px;
$text-16:	16px;
$text-14:	14px;
















