@@include('_header.html', {
  "title": "UI",
  "relativePath":"../.."
})

<div class="page-layout" >
	<div class="page-header"><h1>表格</h1></div>
	<div class="mt-lg font-b fontsize16">系统默认的表格样式</div>
	<div class="mt fontsize14 ">知识点：无</div>

	<!--案例1：默认表格 -->
	<div class="mt-lg font-b fontsize14">案例1：默认表格</div>
	<div class="mt fontsize14 ">知识点：默认表格是指没加任何class类名的表格，默认是带有边框，并且文字居中显示,如果需要无边框，则需要加上class为table-custom-noborder，
	如果需要边距，则需要加上class为 table-custom-padding
	</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
	<table>
		<tr>
			<td>名称1</td>
			<td>值1</td>
		</tr>
		<tr>
			<td>名称2</td>
			<td>值2</td>
		</tr>
	</table>
	</xmp>
	<div class="mt">效果如下：</div>
	<table class="mt">
		<tr>
			<td>名称1</td>
			<td>值1</td>
		</tr>
		<tr>
			<td>名称2</td>
			<td>值2</td>
		</tr>
	</table>

	<!--案例2：基础表格 -->
	<div class="mt-lg font-b fontsize14">案例2：基础表格</div>
	<div class="mt fontsize14 ">知识点：基础表格的table标签必须加上class类名为iroadTable，如果有标题，则标题tr需要加上class类名为tableHeader</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
	<table class="iroadTable">
		<tr class="tableHeader">
			<td >序号</td>
			<td >公司名称</td>
			<td >备注</td>
			<td >最后操作人</td>
			<td >最后操作时间</td>
			<td >操作</td>
		</tr>
		<tr>
			<td >1</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
			<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
			<a class="color-sys" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >2</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
			<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
			<a  href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >3</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a  href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >4</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a  href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
	</table>
	</xmp>
	<div class="mt">效果如下：</div>
	<table class="iroadTable mt">
		<tr class="tableHeader">
			<td >序号</td>
			<td >公司名称</td>
			<td >备注</td>
			<td >最后操作人</td>
			<td >最后操作时间</td>
			<td >操作</td>
		</tr>
		<tr>
			<td >1</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >2</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >3</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >4</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
	</table>

	<!--案例2-2：基础表格2 -->
	<div class="mt-lg font-b fontsize14">案例2-2：基础表格2</div>
	<div class="mt fontsize14 ">知识点：基础表格的table标签必须加上class类名为iroadTable，如果有标题，则标题tr需要加上class类名为tableHeader</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
		<table class="iroadTable2 mt">
			<tr class="tableHeader">
				<td >序号</td>
				<td >公司名称</td>
				<td >备注</td>
				<td >最后操作人</td>
				<td >最后操作时间</td>
				<td >操作</td>
			</tr>
			<tr>
				<td >1</td>
				<td >深圳前海壹路科技有限公司</td>
				<td >深圳办事处</td>
				<td >admin</td>
				<td >2017-10-10 15:25:21</td>
				<td >
					<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
					<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
				</td>
			</tr>
			<tr>
				<td >2</td>
				<td >深圳前海壹路科技有限公司</td>
				<td >深圳办事处</td>
				<td >admin</td>
				<td >2017-10-10 15:25:21</td>
				<td >
					<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
					<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
				</td>
			</tr>
			<tr>
				<td >3</td>
				<td >深圳前海壹路科技有限公司</td>
				<td >深圳办事处</td>
				<td >admin</td>
				<td >2017-10-10 15:25:21</td>
				<td >
					<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
					<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
				</td>
			</tr>
			<tr>
				<td >4</td>
				<td >深圳前海壹路科技有限公司</td>
				<td >深圳办事处</td>
				<td >admin</td>
				<td >2017-10-10 15:25:21</td>
				<td >
					<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
					<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
				</td>
			</tr>
		</table>

	</xmp>
	<div class="mt">效果如下：</div>
	<table class="iroadTable2 mt">
		<tr class="tableHeader">
			<td >序号</td>
			<td >公司名称</td>
			<td >备注</td>
			<td >最后操作人</td>
			<td >最后操作时间</td>
			<td >操作</td>
		</tr>
		<tr>
			<td >1</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >2</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >3</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
		<tr>
			<td >4</td>
			<td >深圳前海壹路科技有限公司</td>
			<td >深圳办事处</td>
			<td >admin</td>
			<td >2017-10-10 15:25:21</td>
			<td >
				<a class="color-sys" href="#"><i class="iconfont icon-update"></i> 修改</a>
				<a class="ml" href="#"><i class="iconfont icon-delete"></i> 删除</a>
			</td>
		</tr>
	</table>


	<!--案例3：无边框表格表格 -->
	<div class="mt-lg font-b fontsize14">案例3：无边框表格</div>
	<div class="mt fontsize14 ">知识点：无边框表格的table标签必须加上class类名为table-no-border的属性，
		一般用于弹框中,基数列靠右对齐，偶数列靠左对齐</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
	<table class="table-no-border">
		<tr>
			<td width="150">请输入名称</td>
			<td><input type="text" > </td>
		</tr>
		<tr>
			<td>请输入值</td>
			<td>
				<textarea ></textarea>
			</td>
		</tr>
	</table>
	</xmp>
	<div class="mt">效果如下：</div>
	<table class="table-no-border">
		<tr>
			<td width="150">请输入名称</td>
			<td><input type="text" > </td>
		</tr>
		<tr>
			<td>请输入值</td>
			<td>
				<textarea ></textarea>
			</td>
		</tr>
	</table>

	<!--案例4：有边框表格表格 -->
	<div class="mt-lg font-b fontsize14">案例4：有边框表格</div>
	<div class="mt fontsize14 ">知识点：有边框表格的table标签必须加上class的类名为table-border的属性，基数列靠右对齐，偶数列靠左对齐
		一般用于弹框中</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
	<table class="table-border" >
		<tr>
			<td width="150">请输入名称</td>
			<td><input type="text" > </td>
		</tr>
		<tr>
			<td>请输入值</td>
			<td>
				<textarea ></textarea>
			</td>
		</tr>
	</table>
	</xmp>
	<div class="mt">效果如下：</div>
	<table class="table-border mt" >
		<tr>
			<td width="150">请输入名称</td>
			<td><input type="text"  > </td>
		</tr>
		<tr>
			<td>请输入值</td>
			<td>
				<textarea ></textarea>
			</td>
		</tr>
	</table>

</div>


@@include('_footer.html')