@@include('_header.html', {
"title": "数据加载",
"relativePath":"../.."
})

<div  class="page-layout">
    <div class="page-header"><h1>数据加载</h1></div>
    <div class="mt-lg font-b fontsize16">动态加载页面的数据</div>
    <div class="mt fontsize14 ">知识点：将页面中的变量动态换成获取的对应的值</div>


    <!--案例1：数据加载1 -->
    <div class="mt-lg font-b fontsize14">案例1：数据加载1</div>
    <div class="mt fontsize14 ">知识点：页面中的需要从js中获取的数据，可以临时用变量来替代，但变量前后需要有对应的符号来分隔以示区分，
        默认的符号为{{}} <a class="color-red" target="_blank" href="preview/data_page1.html">预览效果</a> </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="page-content">
            <div class="row mt-lg ml">
                <div class="col-md-6   t_l" >用户名：{{username}}  </div>
                <div class="col-md-6   t_l">地址：{{address}}</div>
            </div>
            <div class="row mt-lg ml">
                <div class="col-md-6   t_l">出生年月：{{birthday}}</div>
                <div class="col-md-6   t_l">学校：{{schoole  }}</div>
            </div>
        </div>
        <script>
            var config={
               data:{
                   username:"张三",
                   address:"广东省深圳市南山科技园",
                   birthday:"1987-08-08",
                   schoole:"北京大学"
               }
            };
            $("div[class='page-content']").entity(config);
        </script>


    </xmp>



    <!--案例2：数据加载2 -->
    <div class="mt-lg font-b fontsize14">案例2：数据加载2</div>
    <div class="mt fontsize14 ">知识点：页面中的需要从js中获取的数据，js中的数据又需要请求服务器来获取，可以临时用变量来替代，但变量前后需要有对应的符号来分隔以示区分，
        默认的符号为{{}} <a class="color-red" target="_blank" href="preview/data_page2.html">预览效果</a> </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="page-content">
            <div class="mt ml t_c">
                <img data-src="{{src}}" width="300" height="300">
            </div>
            <div class="row mt-lg ml">
                <div class="col-md-6   t_l" >用户名：{{username}}  </div>
                <div class="col-md-6   t_l">地址：{{address}}</div>
            </div>
            <div class="row mt-lg ml">
                <div class="col-md-6   t_l">出生年月：{{birthday}}</div>
                <div class="col-md-6   t_l">学校：{{schoole  }}</div>
            </div>
        </div>
        <script>
            var config={
                url:"http://192.168.2.45:7878/entity",
                params:{
                    id:123
                },
                getData:function (obj) {
                    var data={
                        username:obj['username'],
                        address:obj['address'],
                        birthday:obj['birthday'],
                        schoole:obj['schoole'],
                        src:obj['src']
                    };
                    return data;
                }
            };
            $("div[class='page-content']").entity(config);
        </script>
    </xmp>


    <!--案例3：数据加载3 -->
    <div class="mt-lg font-b fontsize14">案例3：数据加载3</div>
    <div class="mt fontsize14 ">知识点：数据加载需要的配置文件详解 </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">

        <script>

            /**
             * 加载数据的格式如下：
             * @type {{
             * leftSymbol: string,  变量左符号 (可选参数  默认符号 双正大括号)
             * rightSymbol: string,  变量右符号 (可选参数  默认符号 双反大括号)
             * url: string,  (可选参数)
             * params: {id: number},   (可选参数)
             * data: {username: string, address: string, birthday: string, schoole: string}, (可选参数,如何缺省则请求url加载数据)
             * getData: config.getData   (可选参数,如果存在,则请求到后台数据之后通过该方法对数据进行绑定)
             * }}
             */
            var config={
                leftSymbol:"{{",
                rightSymbol:"}}",
                url:"http://192.168.2.45:7878/entity",
                params:{
                    id:123
                },
                data:{
                    username:"张三",
                    address:"广东省深圳市南山科技园",
                    birthday:"1987-08-08",
                    schoole:"北京大学"
                },
                getData:function (obj) {
                    var data={
                        username:obj['username'],
                        address:obj['address'],
                        birthday:obj['birthday'],
                        schoole:obj['schoole'],
                        src:obj['src']
                    };
                    return data;
                }
            };
            $("div[class='page-content']").entity(config);
        </script>
    </xmp>
</div>

@@include('_footer.html')