@@include('_header.html', {
"title": "页面布局",
"relativePath":"../.."
})

<div  class="page-layout">
    <div class="page-header"><h1>页面布局</h1></div>
    <div class="mt-lg font-b fontsize16">手机端页面部分的介绍</div>
    <div class="mt fontsize14 ">知识点：无</div>


    <!--案例1：页面布局1 -->
    <div class="mt-lg font-b fontsize14">案例1：页面布局1</div>
    <div class="mt fontsize14 ">知识点：整体页面布局包括头部，内容，尾部三部分组成 <a class="color-red" target="_blank" href="preview/layout_page1.html">预览效果</a> </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <!DOCTYPE html>
        <html lang="zh-CN">
        <head>
            <meta charset="UTF-8" />
            <title>页面布局案例1</title>
            <script type="text/javascript" src="../../libs/phone.meta.js"></script>
            <link rel="stylesheet" type="text/css" href="../../css/phone.css">
            <script type="text/javascript" src="../../libs/jquery-3.1.1.js"></script>
            <script type="text/javascript" src="../../js/phone.js"></script>
        </head>
        <body>
        <div class="page" >
            <div class="page-header">首页</div>
            <div class="page-content">内容</div>
            <div class="page-footer">尾部</div>
        </div>
        </body>
        </html>
    </xmp>



    <!--案例2：页面布局2 -->
    <div class="mt-lg font-b fontsize14">案例2：页面布局2</div>
    <div class="mt fontsize14 ">知识点：整体页面布局包括头部，内容，两部分组成 <a class="color-red" target="_blank" href="preview/layout_page2.html">预览效果</a> </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <!DOCTYPE html>
        <html lang="zh-CN">
        <head>
            <meta charset="UTF-8" />
            <title>页面布局案例1</title>
            <script type="text/javascript" src="../../libs/phone.meta.js"></script>
            <link rel="stylesheet" type="text/css" href="../../css/phone.css">
            <script type="text/javascript" src="../../libs/jquery-3.1.1.js"></script>
            <script type="text/javascript" src="../../js/phone.js"></script>
        </head>
        <body>
        <div class="page" >
            <div class="page-header">首页</div>
            <div class="page-content-nofooter">内容</div>
        </div>
        </body>
        </html>
    </xmp>


</div>

@@include('_footer.html')