@@include('_header.html', {
"title": "列表数据",
"relativePath":"../.."
})

<div  class="page-layout">
    <div class="page-header"><h1>列表数据</h1></div>
    <div class="mt-lg font-b fontsize16">动态加载页面的列表数据</div>
    <div class="mt fontsize14 ">知识点：无</div>


    <!--案例1：列表数据加载1 -->
    <div class="mt-lg font-b fontsize14">案例1：列表数据加载1</div>
    <div class="mt fontsize14 ">知识点：页面中的需要从js中获取的列表数据进行加载显示 <a class="color-red" target="_blank" href="preview/list_page1.html">预览效果</a> </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="page-content">
            <ul class="list" >

            </ul>
        </div>
        <script>
            var config={
                data:{
                    "page":1,
                    "pageCount":5,
                    "list":[
                        {"src":"pic1.jpg","name":"列表数据1"},
                        {"src":"pic2.gif","name":"列表数据2"},
                        {"src":"pic3.jpg","name":"列表数据3"},
                        {"src":"pic4.jpg","name":"列表数据4"},
                        {"src":"pic5.jpg","name":"列表数据5"},
                        {"src":"pic6.jpg","name":"列表数据6"},
                        {"src":"pic7.jpg","name":"列表数据7"},
                        {"src":"pic8.jpg","name":"列表数据8"}
                    ]
                },
                isOpenCache:true,  //是否开启页面缓存机制 默认false
                moreDiv:$("<div class='listMore'>加载更多...</div>"),
                onItemClick:function (obj) {
                    //点击每一项后需要执行的代码
                },
                getItem:function (obj) {
                    var item=$("<li><img src='"+obj['src']+"'>"+obj['name']+"</li>");
                    return item;
                }
            };
            $("ul[class='list']").list(config);
        </script>


    </xmp>



    <!--案例2：数据加载2 -->
    <div class="mt-lg font-b fontsize14">案例2：列表数据加载2</div>
    <div class="mt fontsize14 ">知识点：页面中的需要从js中获取的列表数据，js中的列表数据又需要请求服务器来获取，
         <a class="color-red" target="_blank" href="preview/list_page2.html">预览效果</a> </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="page-content">
            <ul class="list" >

            </ul>
        </div>
        <script>
            var config={
                url:"http://192.168.2.45:7878/list",
                params:{
                    id:123
                },
                isOpenCache:true,  //是否开启页面缓存机制 默认false
                moreDiv:$("<div class='listMore'>加载更多...</div>"),
                onItemClick:function (obj) {
                    window.location.href="http://www.baidu.com";
                },
                getItem:function (obj) {
                    var item=$("<li><img src='"+obj['src']+"'>"+obj['name']+"</li>");
                    return item;
                }
            };
            $("ul[class='list']").list(config);
        </script>
    </xmp>


    <!--案例3：列表数据加载3 -->
    <div class="mt-lg font-b fontsize14">案例3：列表数据加载3</div>
    <div class="mt fontsize14 ">知识点：列表数据加载需要的配置文件详解 </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <script>

            /**
             *
             * @type {{
             * url: string,  请求后台的url (可选参数)
             * params: {id: number},  请求后台的参数  (可选参数)
             * data: {page: number, pageCount: number, list: [null,null,null,null,null,null,null,null]}, 列表数据 (可选参数)
             * isOpenCache: boolean,  是否开启页面缓存机制 默认false (可选参数)
             * moreDiv: (jQuery|HTMLElement),  更多按钮 (必填参数)
             * onItemClick: config.onItemClick, 项目点击方法,(可选参数)
             * getItem: config.getItem 获取每一项数据 (必填参数)
             * }}
             */
            var config={
                url:"http://192.168.2.45:7878/list", //url:"http://192.168.2.45:7878/list",
                params:{
                    id:123
                },
                data:{
                    "page":1,
                    "pageCount":5,
                    "list":[
                        {"src":"pic1.jpg","name":"列表数据1"},
                        {"src":"pic2.gif","name":"列表数据2"},
                        {"src":"pic3.jpg","name":"列表数据3"},
                        {"src":"pic4.jpg","name":"列表数据4"},
                        {"src":"pic5.jpg","name":"列表数据5"},
                        {"src":"pic6.jpg","name":"列表数据6"},
                        {"src":"pic7.jpg","name":"列表数据7"},
                        {"src":"pic8.jpg","name":"列表数据8"}
                    ]
                },
                isOpenCache:true,  //是否开启页面缓存机制 默认false
                moreDiv:$("<div class='listMore'>加载更多...</div>"),
                onItemClick:function (obj) {
                    window.location.href="http://www.baidu.com";
                },
                getItem:function (obj) {
                    var item=$("<li><img src='"+obj['src']+"'>"+obj['name']+"</li>");
                    return item;
                }
            };
            $("ul[class='list']").list(config);
        </script>
    </xmp>
</div>

@@include('_footer.html')