@@include('_header.html', {
"title": "模板页面",
"relativePath":"../.."
})
<style type="text/css">


</style>
<div class="outDiv">

</div>

<script type="text/javascript">
  /* console.log("第一题答案：");
   console.log(!0);
   console.log(0 == '0');
   console.log([]==[]);
   console.log('20'+10-9);


   console.log("第二题答案：");

   let a={x:0}
   let b=a
   b.x=1
   console.log(a.x)
   console.log(b.x)

   console.log("第三题答案：");
   var x=1;
   function  f() {
       y=2;
       var z=3;
   }
   f();
   console.log(x);
   console.log(y);
   console.log("z is not defined");



   console.log("第六题答案：");
  let cat={
      sound:'meow',
      say:function () {
          console.log(this.sound);
      }
  }
  let catSay=cat.say;
  catSay();

   console.log("第四题答案：");

   console.log(1);
   window.setTimeout(function () {
       console.log(2);
   },0)
   console.log(3);
*/


</script>



@@include('_footer.html')