@@include('_header.html', {
"title": "UI",
"relativePath":"../.."
})

<div class="page-layout" >
    <div class="page-header"><h1>左右布局</h1></div>
    <div class="mt-lg font-b fontsize16">左右布局</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <!--案例1：左右布局 -->
    <div class="mt-lg font-b fontsize14">案例1：左右布局</div>
    <div class="mt fontsize14 ">知识点：该案例是举例边框高度为400px来说明</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div  class="layout">
            <div class="layout-left border">左边布局</div>
            <div class="layout-right border">右边布局</div>
        </div>
    </xmp>
    <div class="mt">效果如下：</div>
    <div style="height: 400px;">
        <div  class="layout">
            <div class="layout-left border">左边布局</div>
            <div class="layout-right border">右边布局</div>
        </div>
    </div>







</div>


@@include('_footer.html')