.list{
    >li{
      border:0px red solid;
    }
}

.listMore{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 26px;
    border:1px #000000 solid;
    background-color: #5d62b8;
    color: white;
}