/* 公共颜色标准 */
$page-bg-color: #f5f5f5 !default;
$page-header-bg-color: #09b6f9 !default;
$page-content-bg-color: #2fffac !default;
$page-footer-bg-color: #a2c2f9 !default;

$page-header-color:#ffffff !default;


/* 公共尺寸标准 */
$page-width:750px;
$page-height:1334px;
$page-header-height:88px;
$phone-status-height:0px;
$page-footer-height:100px;