@@include('_header.html', {
  "title": "UI",
  "relativePath":"../.."
})

<div class="page-layout" >
	<div class="page-header"><h1>面板结构</h1></div>
	<div class="mt-lg font-b fontsize16">面板结构一般分为标题和内容两部分</div>
	<div class="mt fontsize14 ">知识点：无</div>
	<!--案例1：基础面板 -->
	<div class="mt-lg font-b fontsize14">案例1：基础面板</div>
	<div class="mt fontsize14 ">知识点：基础面板以class类名为panel panelHeader panelContent等组合使用</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
	<div  class="panel">
		<div class="panelHeader">面板标题</div>
		<div class="panelContent">面板内容</div>
	</div>
	</xmp>
	<div class="mt">效果如下：</div>
	<div  class="panel mt">
		<div class="panelHeader">面板标题</div>
		<div class="panelContent">
			面板内容
		</div>
	</div>

	<!--案例2：基础面板2 -->
	<div class="mt-lg font-b fontsize14">案例2：基础面板2</div>
	<div class="mt fontsize14 ">知识点：基础面板以class类名为panel panelHeader panelContent等组合使用</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
		<div  class="panel">
			<div class="panelHeader2">面板标题</div>
			<div class="panelContent">面板内容</div>
		</div>
	</xmp>
	<div class="mt">效果如下：</div>
	<div  class="panel mt">
		<div class="panelHeader2">面板标题</div>
		<div class="panelContent">
			面板内容
		</div>
	</div>

	<!--案例3：面板表格 -->
	<div class="mt-lg font-b fontsize14">案例3：面板表格</div>
	<div class="mt fontsize14 ">知识点：面板表格是基础面板与内置表格样式组合使用</div>
	<div class="mt">代码如下：</div>
	<xmp class="demo-code mt">
	<div  class="panel">
		<div class="panelHeader">公司详情</div>
		<div class="panelContent">
			<div class="panel-table-border" >
			<table>
				<tr>
					<td width="100">公司名称</td>
					<td>武汉壹路科技游戏公司 </td>
				</tr>
				<tr>
					<td >公司地址</td>
					<td>武昌南湖山庄 </td>
				</tr>
				<tr>
					<td >省份</td>
					<td>
						湖北
					</td>
				</tr>
				<tr>
					<td >城市</td>
					<td>
						武汉
					</td>
				</tr>
				<tr>
					<td >个人爱好</td>
					<td >
						游泳
					</td>
				</tr>
				<tr>
					<td >性别</td>
					<td >
						男
					</td>
				</tr>
				<tr>
					<td >选择附件</td>
					<td>Java开发秘籍 </td>
				</tr>
				<tr>
					<td >备注</td>
					<td>
						仔细学习
					</td>
				</tr>
			</table>
			</div>
		</div>
	</div>
	</xmp>
	<div class="mt">效果如下：</div>
	<div  class="panel mt">
		<div class="panelHeader">公司详情</div>
		<div class="panelContent">
			<div class="panel-table-border" >
				<table>
					<tr>
						<td width="100">公司名称</td>
						<td>武汉壹路科技游戏公司 </td>
					</tr>
					<tr>
						<td >公司地址</td>
						<td>武昌南湖山庄 </td>
					</tr>
					<tr>
						<td >省份</td>
						<td>
							湖北
						</td>
					</tr>
					<tr>
						<td >城市</td>
						<td>
							武汉
						</td>
					</tr>
					<tr>
						<td >个人爱好</td>
						<td >
							游泳
						</td>
					</tr>
					<tr>
						<td >性别</td>
						<td >
							男
						</td>
					</tr>
					<tr>
						<td >选择附件</td>
						<td>Java开发秘籍 </td>
					</tr>
					<tr>
						<td >备注</td>
						<td>
							仔细学习
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>


@@include('_footer.html')