@@include('_header.html', {
"title": "弹框示例",
"relativePath":"../.."
})
<div  class="page-layout">
    <div class="page-header"><h1>内容弹框</h1></div>
    <div class="mt-lg font-b fontsize16">内容弹框分为标题和内容部分</div>
    <div class="mt fontsize14 ">知识点：标题和内容均可以自定义,其中按钮颜色默认为系统颜色，并且提供两种颜色供选择：灰色（btn-gray）和蓝色（btn-blue）</div>
    <!--案例1：基础调用弹框案例 -->
    <div class="mt-lg font-b fontsize14">案例1：基础调用弹框案例</div>
    <div class="mt fontsize14 ">知识点：打开弹框需要调用$.fn.openMDialog(dialogCfn);这行代码来实现，同时需要传递弹框的相关参数的配置文件</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
         html代码
        <a class="btn btn-iroad mt" href="javascript:openDialog()" >打开弹框</a>
         js代码
         <script type="text/javascript">
             function openDialog() {
                 /**
                  * 用户自定义按钮，按钮的名称可以更改，点击按钮之后的代码用户根据实际情况来编写
                  */
                 var dialogBtn = [
                     {
                         text: '确定',
                         class:'btn-blue',
                         onclick: function (dialog,settings) {
                             //注意事项1:dialog 代表用户点击确定按钮打开的弹框
                             //注意事项2:settings 代表用户打开弹框传递的参数
                             //注意事项3:用户点击确定之后要执行的代码
                             //注意事项4:用户执行完自己的代码之后需要执行返回一个ture或者false的代码，
                             // 来明确的告诉弹框是否需要关闭。
                             //返回ture则关闭弹框，返回false则不关闭弹框

                         }
                     },
                     {
                         text: '取消',
                         class:'cancel',
                         onclick: function (dialog,settings) {
                             //注意事项1:用户点击取消之后要执行的代码
                             //注意事项2:与上面一致
                             //注意事项3:如果点击取消仅仅只关闭弹框不做其他事情的话，
                             // 这里的回调函数直接写为null即可。
                         }
                     }
                 ];

                 /**
                  * 用户自定义参数，通过setting对象来传递
                  */
                 var settings={
                     id: "123456789"
                 }
                 var dialogCfn= {
                     url: "html/dialog.html",
                     title: "弹框标题",
                     titleClass:"bgcolor-white",
                     width:600,
                     buttons: dialogBtn,
                     settings: settings
                 }
                 /**
                  * 打开弹框
                  * @param dialogCfn
                  * url : "",  弹框内容url地址（必填项）
                  * title : "默认标题", 弹框标题（可选）
                  * titleClass : "标题的class类"（可选）
                  * width : 600,  弹框宽度（可选，默认600px）
                  *        备注： 0<width<=1  代表弹框宽度百分比   width>1 代表弹框宽度的实际像素
                  * height : 0 ,  弹框内容高度（可选，默认根据内容自适应）
                  *        备注：  0<height<=1  代表弹框高度百分比   height>1代表弹框内容高度的实际像素
                  * buttons : dialogBtn, 弹框按钮 （可选）
                  * settings : {       弹框自定义参数 （可选）
                  *   method : "add",
                  *   id:"123456"
                  * }
                  */
                 $.fn.openMDialog(dialogCfn);
             }
         </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:openDialog()" >打开弹框</a>

    <script type="text/javascript">
        function openDialog() {
            var dialogBtn = [
                {
                    text: '确定',
                    class:'btn-blue',
                    onclick: function (dialog,settings) {
                        //alert("您点击了确定弹框");
                        return false;
                    }
                },
                {
                    text: '取消',
                    class:'cancel',
                    onclick: function (dialog,settings) {
                        //alert("您点击了取消弹框");
                        return true;
                    }
                }
            ];
            var settings={
                id: "123456789"
            }
            var dialogCfn= {
                url: "html/dialog.html",
                title: "弹框标题",
                titleClass:"bgcolor-white",
                width:600,
                buttons: dialogBtn,
                settings: settings
            };

            $.fn.openMDialog(dialogCfn);
        }
    </script>

    <!--案例2：绑定调用弹框案例 -->
    <div class="mt-lg font-b fontsize14">案例2：绑定调用弹框案例</div>
    <div class="mt fontsize14 ">知识点：将要调用的代码绑定到一个变量中，这样使得代码的逻辑清晰，整洁。
        当一个页面有多个需要打开的弹框，建议使用绑定调用弹框方式打开弹框</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        html代码
        <a class="btn btn-iroad mt" href="javascript:openDialogBtn.openDialog()" >打开弹框</a>
        js代码
        <script type="text/javascript">
            /*
              将打开弹框需要的参数全部写在一个变量中，以避免与其他弹框变量冲突
             */
            var openDialogBtn={
                /**
                 * 用户自定义按钮，按钮的名称可以更改，点击按钮之后的代码用户根据实际情况来编写
                 */
                dialogBtn : [
                    {
                        text: '确定',
                        onclick: function (dialog,settings) {
                            //注意事项1:dialog 代表用户点击确定按钮打开的弹框
                            //注意事项2:settings 代表用户打开弹框传递的参数
                            //注意事项3:用户点击确定之后要执行的代码
                            //注意事项4:用户执行完自己的代码之后需要执行返回一个ture或者false的代码，
                            //    来明确的告诉弹框是否需要关闭。
                            //返回ture则关闭弹框，返回false则不关闭弹框
                        }
                    },
                    {
                        text: '取消',
                        class:'cancel',
                        onclick: function (dialog,settings) {
                            //注意事项1:用户点击取消之后要执行的代码
                            //注意事项2:与上面一致
                            //注意事项3:如果点击取消仅仅只关闭弹框不做其他事情的话，这里的回调函数直接写为null即可。
                        }
                    }
                ],

                /**
                 * 用户自定义参数，通过setting对象来传递
                 */
                settings:{
                    id: "123456789"
                },
                /**
                 * 打开弹框
                 * @param dialogCfn
                 * url : "",  弹框内容url地址（必填项）
                 * title : "默认标题", 弹框标题（可选）
                 * titleClass : "标题的class类"（可选）
                 * width : 600,  弹框宽度（可选，默认600px）
                 *       备注： 0<width<=1  代表弹框宽度百分比   width>1 代表弹框宽度的实际像素
                 * height : 0,  弹框内容高度（可选，默认根据内容自适应）
                 *       备注：  0<height<=1  代表弹框高度百分比   height>1代表弹框内容高度的实际像素
                 * buttons : dialogBtn, 弹框按钮 （可选）
                 * settings : {       弹框自定义参数 （可选）
                  *   method : "add",
                  *   id:"123456"
                  * }
                 */
                openDialog:function () {
                    var dialogCfn={
                        url: "html/dialog.html",
                        title: "弹框标题",
                        width:600,
                        buttons: this.dialogBtn,
                        settings: this.settings
                    };
                    $.fn.openMDialog(dialogCfn);
                }
            }
        </script>
        备注：如果在弹框中使用日期的话，需要在弹框中加入如下js代码
        <script type="text/javascript">
            $(function(){
                calendar.init();
            });
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:openDialogBtn.openDialog()" >打开弹框</a>

    <script type="text/javascript">
        var openDialogBtn={
            /**
             * 用户自定义按钮，按钮的名称可以更改，点击按钮之后的代码用户根据实际情况来编写
             */
            dialogBtn : [
                {
                    text: '确定',
                    onclick: function (dialog,settings) {
                        //注意事项1:dialog 代表用户点击确定按钮打开的弹框
                        //注意事项2:settings 代表用户打开弹框传递的参数
                        //注意事项3:用户点击确定之后要执行的代码
                        //注意事项4:用户执行完自己的代码之后需要执行返回一个ture或者false的代码，来明确的告诉弹框是否需要关闭。
                        //返回ture则关闭弹框，返回false则不关闭弹框
                        //alert(123);
                        return false;
                    }
                },
                {
                    text: '取消',
                    class:'cancel',
                    onclick: function (dialog,settings) {
                        //注意事项1:用户点击取消之后要执行的代码
                        //注意事项2:与上面一致
                        //注意事项3:如果点击取消仅仅只关闭弹框不做其他事情的话，这里的回调函数直接写为null即可。
                        return true;
                    }
                }
            ],
            /**
             * 用户自定义参数，通过setting对象来传递
             */
            settings:{
                id: "987654321"
            },

            /**
             * 打开弹框
             * @param dialogCfn
             * url : "",  弹框内容url地址（必填项）
             * title : "默认标题", 弹框标题（可选）
             * width : 600,  弹框宽度（可选，默认600px）
             * height : 600,  弹框内容高度（可选，默认根据内容自适应）
             * buttons : dialogBtn, 弹框按钮 （可选）
             * settings : {       弹框自定义参数 （可选）
                  *   method : "add",
                  *   id:"123456"
                  * }
             */
            openDialog:function () {
               var dialogCfn={
                    url: "html/demo.html",
                        title: "弹框标题",
                        width:600,
                        buttons: this.dialogBtn,
                        settings: this.settings
                };
                $.fn.openMDialog(dialogCfn);
            }
        }



    </script>

</div>

<!-- 弹框的html代码
<div class="dialog-bg">
    <div class="dialog">
        <div class="dialogTitle">弹框标题 <i class="iconfont icon-close btn-sm"></i></div>
        <div class="dialogContent">
            弹框内容
        </div>
        <div class="dialogBtn">
            <a class="btn btn-iroad btn-sm" href="#" role="button">增加</a>
            <a class="btn btn-iroad btn-sm ml" href="javascript:hideDialog()" role="button">取消</a>
        </div>
    </div>
</div>
-->




@@include('_footer.html')