@@include('_header.html', {
"title": "弹框示例",
"relativePath":"../.."
})
<div  class="page-layout">
    <div class="buttonGroup">
        <a class="btn btn-iroad" href="javascript:showCDialog()" role="button">通用提示</a>
        <a class="btn btn-iroad" href="javascript:showDialog('alert')" role="button">提示</a>
        <a class="btn btn-iroad" href="javascript:showDialog('success')" role="button">成功提示</a>
        <a class="btn btn-iroad" href="javascript:showDialog('warn')" role="button">警告提示</a>
        <a class="btn btn-iroad" href="javascript:showDialog('info')" role="button">信息提示</a>
        <a class="btn btn-iroad" href="javascript:showDialog('error')" role="button">错误提示</a>
        <a class="btn btn-iroad" href="javascript:showDialog('question')" role="button">询问提示</a>
    </div>


</div>

<script type="text/javascript">

    var dialogBtn = [
        {
            text: '确定',
            onclick: function (dialog,settings) {
                alert(settings.id);
            }
        },
        {
            text: '取消',
            onclick: null
        }
    ];
    var settings={
        id: 123
    }

    function showCDialog(){
        var type="question"; //alert   success  warn  info  error  question
        $.ligerDialog.openCDialog(type,"请问您是否要删除这条记录?",dialogBtn,settings);
    }

    function showDialog(type){
        if(type=="alert"){
            $.ligerDialog.alert("普通提示");
        }
        if(type=="success"){
            $.ligerDialog.success("成功提示");
        }
        if(type=="warn"){
            $.ligerDialog.warn("警告提示");
        }
        if(type=="info"){
            $.ligerDialog.info("信息提示");
        }
        if(type=="error"){
            $.ligerDialog.error("错误提示");
        }
        if(type=="question"){
            $.ligerDialog.question("您确定要删除该记录吗?",dialogBtn,settings);
        }
    }
</script>

@@include('_footer.html')