@@include('_header.html', {
"title": "消息提示弹框示例",
"relativePath":"../.."
})
<div  class="page-layout">
    <div class="page-header"><h1>消息提示弹框</h1></div>
    <div class="mt-lg font-b fontsize16">消息提示弹框主要用于提示内容较少的纯文本的弹框</div>
    <div class="mt fontsize14 ">知识点：内容同样可以html标签</div>


    <!--案例1：普通提示框 -->
    <div class="mt-lg font-b fontsize14">案例1：普通提示框</div>
    <div class="mt fontsize14 ">知识点：最普通的提示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.alert('普通提示')" >普通提示</a>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.alert('普通提示')" >普通提示</a>

    <!--案例2：成功提示框 -->
    <div class="mt-lg font-b fontsize14">案例2：成功提示框</div>
    <div class="mt fontsize14 ">知识点：通常用于用户操作成功之后的提示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.success('成功提示')" >成功提示</a>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.success('成功提示')" >成功提示</a>

    <!--案例3：警告提示框 -->
    <div class="mt-lg font-b fontsize14">案例3：警告提示框</div>
    <div class="mt fontsize14 ">知识点：通常用于用户操作失误而给予的警告</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.warn('警告提示')" >警告提示</a>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.warn('警告提示')" >警告提示</a>

    <!--案例4：信息提示框 -->
    <div class="mt-lg font-b fontsize14">案例4：信息提示框</div>
    <div class="mt fontsize14 ">知识点：通常用于用户操作中普通通知用户的信息</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.info('信息提示')" >信息提示</a>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.info('信息提示')" >信息提示</a>

    <!--案例5：错误提示框 -->
    <div class="mt-lg font-b fontsize14">案例5：错误提示框</div>
    <div class="mt fontsize14 ">知识点：通常用于用户操作错误或者程序发生错误的提示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.error('错误提示')" >错误提示</a>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:$.ligerDialog.error('错误提示')" >错误提示</a>

    <!--案例6：询问提示框 -->
    <div class="mt-lg font-b fontsize14">案例6：询问提示框</div>
    <div class="mt fontsize14 ">知识点：通过用于用户在操作一些危险动作时候给予的询问提示，来确认用户是否继续操作</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <a class="btn btn-iroad mt" href="javascript:uestionBtn.question()" >询问提示</a>
        <script type="text/javascript">
            var questionBtn={
                dialogBtn :[
                    {
                        text: '确定',
                        onclick: function (dialog,settings) {
                            alert(settings.id);
                            alert("确定删除");
                            return false;
                        }
                    },
                    {
                        text: '取消',
                        onclick: null
                    }
                ],
                settings:{
                    id: 123
                },
                question:function () {
                    $.ligerDialog.question("您确定要删除该记录吗?",this.dialogBtn,this.settings);
                }
            }
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:questionBtn.question()" >询问提示</a>
    <script type="text/javascript">
        var questionBtn={
              dialogBtn :[
                {
                    text: '确定',
                    onclick: function (dialog,settings) {
                        alert(settings.id);
                        alert("确定删除");
                        return false;
                    }
                },
                {
                    text: '取消',
                    onclick: null
                }
              ],
              settings:{
                id: 123
              },
              question:function () {
                  $.ligerDialog.question("您确定要删除该记录吗?",this.dialogBtn,this.settings);
              }
        }
    </script>


    <!--案例7：成功提示框2 -->
    <div class="mt-lg font-b fontsize14">案例7：成功提示框2</div>
    <div class="mt fontsize14 ">知识点：用户成功操作之后需要继续执行的代码</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <a class="btn btn-iroad mt" href="javascript:successBtn.success()" >成功提示2</a>
        <script type="text/javascript">
            var successBtn={
                succBtn :[
                    {
                        text: '确定',
                        onclick: function (dialog) {
                            window.location.reload();
                        }
                    }
                ],
                success:function () {
                    $.ligerDialog.success("操作成功",this.succBtn);
                }
            }
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:successBtn.success()" >成功提示2</a>
    <script type="text/javascript">
        var successBtn={
            succBtn :[
                {
                    text: '确定',
                    onclick: function (dialog) {
                         window.location.reload();
                    }
                }
            ],
            success:function () {
                $.ligerDialog.success("操作成功",this.succBtn);
            }
        }
    </script>

    <!--案例8：通用提示框 -->
    <div class="mt-lg font-b fontsize14">案例8：通用提示框</div>
    <div class="mt fontsize14 ">知识点：通用提示框可以提示alert  success  warn  info  error  question等几种类型的提示，可通过
        $.ligerDialog.openCDialog()函数来调用</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <a class="btn btn-iroad mt" href="javascript:showCDialog()" >询问提示</a>
        <script type="text/javascript">
            function showCDialog(){
                var dialogBtn = [
                    {
                        text: '确定',
                        onclick: function (dialog,settings) {
                            alert(settings.id);
                        }
                    },
                    {
                        text: '取消',
                        class:'cancel',
                        onclick: null
                    }
                ];
                var settings={
                    id: 123
                }
                var type="question"; //alert   success  warn  info  error  question
                var content="请问您是否要删除这条记录?";
                /**
                 * type:表示提示的类型   alert   success  warn  info  error  question
                 * content:表示提示的内容
                 * dialogBtn：提示框按钮（可选）
                 * settings：参数（可选）
                 */
                $.ligerDialog.openCDialog(type,content,dialogBtn,settings);
            }
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:showCDialog()" >询问提示</a>
    <script type="text/javascript">
        function showCDialog(){
            var dialogBtn = [
                {
                    text: '确定',
                    onclick: function (dialog,settings) {
                        alert(settings.id);
                    }
                },
                {
                    text: '取消',
                    class:'cancel',
                    onclick: null
                }
            ];
            var settings={
                id: 123
            }
            var type="question"; //alert   success  warn  info  error  question
            var content="请问您是否要删除这条记录?";
            /**
             * type:表示提示的类型   alert   success  warn  info  error  question
             * content:表示提示的内容
             * dialogBtn：提示框按钮（可选）
             * settings：参数（可选）
             */
            $.ligerDialog.openCDialog(type,content,dialogBtn,settings);
        }
    </script>


    <!--案例9：自定义提示框 -->
    <div class="mt-lg font-b fontsize14">案例9：自定义提示框</div>
    <div class="mt fontsize14 ">知识点：自定义提示框同样可以提示alert  success  warn  info  error  question等几种类型的提示，
        并且还可以自定义弹框的一些参数，比如弹框高度宽度等。可通过$.ligerDialog.openTDialog()函数来调用</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <a class="btn btn-iroad mt" href="javascript:openTDialog()" >自定义提示框</a>
        <script type="text/javascript">
            function openTDialog(){
                var dialogBtn = [
                    {
                        text: '确定',
                        onclick: function (dialog,settings) {
                            alert(settings.id);
                        }
                    },
                    {
                        text: '取消',
                        class:'cancel',
                        onclick: null
                    }
                ];
                var settings={
                    id: 123
                }
                var type="question"; //alert   success  warn  info  error  question
                var title="请您确认";
                var content="请问您是否要删除这条记录?";
                var dialogCfn={
                    type:type,
                    title:title,
                    content:content,
                    buttons:dialogBtn,
                    settings:settings
                }
                /**
                 * 生成弹框
                 * 作者：姚明
                 * 时间：2017-11-17
                 * @param dialogCfn
                 * type  : "alert" ,提示框类型(必填)  可取值为：alert,success,warn,info,error,question
                 * title : "默认标题", 弹框标题（可选）
                 * titleClass : "标题的class类"（可选）
                 * content : "提示内容",提示内容（可选）
                 * width : 300,  弹框宽度（可选，默认300px）
                 *               备注： 0<width<=1  代表弹框宽度百分比   width>1 代表弹框宽度的实际像素
                 * height : auto,  弹框内容高度（可选，默认根据内容自适应）
                 *                 备注：  0<height<=1  代表弹框高度百分比   height>1代表弹框内容高度的实际像素
                 * buttons : dialogBtn, 弹框按钮 （可选）
                 * settings : {       弹框自定义参数 （可选）
                 *   method : "add",
                 *   id:"123456"
                 * }
                 */
                $.ligerDialog.openTDialog(dialogCfn);
            }
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <a class="btn btn-iroad mt" href="javascript:openTDialog()" >自定义提示框</a>
    <script type="text/javascript">
        function openTDialog(){
            var dialogBtn = [
                {
                    text: '确定',
                    onclick: function (dialog,settings) {
                        alert(settings.id);
                    }
                },
                {
                    text: '取消',
                    class:'cancel',
                    onclick: null
                }
            ];
            var settings={
                id: 123
            }
            var type="question"; //alert   success  warn  info  error  question
            var title="请您确认";
            var content="请问您是否要删除这条记录?";
            var dialogCfn={
                type:type,
                title:title,
                content:content,
                buttons:dialogBtn,
                settings:settings
            }
            /**
             * 生成弹框
             * 作者：姚明
             * 时间：2017-11-17
             * @param dialogCfn
             * type  : "alert" ,提示框类型(必填)  可取值为：alert,success,warn,info,error,question
             * title : "默认标题", 弹框标题（可选）
             * titleClass:"标题的class类"（可选）
             * content : "提示内容",提示内容（可选）
             * width : 300,  弹框宽度（可选，默认300px）  备注： 0<width<=1  代表弹框宽度百分比   width>1 代表弹框宽度的实际像素
             * height : auto,  弹框内容高度（可选，默认根据内容自适应） 备注：  0<height<=1  代表弹框高度百分比   height>1代表弹框内容高度的实际像素
             * buttons : dialogBtn, 弹框按钮 （可选）
             * settings : {       弹框自定义参数 （可选）
                 *   method : "add",
                 *   id:"123456"
                 * }
             */
            $.ligerDialog.openTDialog(dialogCfn);
        }
    </script>


</div>

<!-- 消息提示框源代码
<div class="dialog-bg">
    <div class="dialog">
        <div class="ligerDialogTitle icon-dialog-success iconfont"> 成功提示 <i class="iconfont icon-close"></i></div>
        <div class="ligerDialogTitle icon-dialog-warn iconfont"> 警告提示 <i class="iconfont icon-close"></i></div>
        <div class="ligerDialogTitle icon-dialog-info iconfont"> 信息提示 <i class="iconfont icon-close"></i></div>
        <div class="ligerDialogTitle icon-dialog-error iconfont"> 错误提示 <i class="iconfont icon-close"></i></div>
        <div class="ligerDialogTitle icon-dialog-question iconfont"> 询问提示 <i class="iconfont icon-close"></i></div>
        <div class="ligerDialogContent">提示内容部分</div>
        <div class="ligerDialogBtn">
            <a class="btn btn-iroad btn-sm" href="#" role="button">确定</a>
            <a class="btn btn-iroad btn-sm ml" href="#" role="button">取消</a>
        </div>
    </div>
</div>
-->
@@include('_footer.html')