<ul class="main-tree">

    <li>
        <div ><a href="/views/desk/_zdesk.html" target="iframe"><i class="iconfont icon-shouye"></i> 首页</a></div>
    </li>
    <li>
        <div><i class="iconfont icon-shouye"></i> 基本元素</div>
        <ul>
            <li><div><a href="/views/flexgrid/base.html" target="iframe"><i class="iconfont icon-list"></i> 栅格布局</a></div> </li>
            <li><div><a href="/views/layout/base.html" target="iframe"><i class="iconfont icon-list"></i> 边框布局</a></div></li>
            <li><div><a href="/views/layout/layout2.html" target="iframe"><i class="iconfont icon-list"></i> 左右布局</a></div></li>
            <li><div><a href="/views/icons/base.html" target="iframe"><i class="iconfont icon-list"></i> 图标</a></div></li>
            <li><div><a href="/views/button/base.html" target="iframe"><i class="iconfont icon-list"></i> 按钮</a></div></li>
            <li><div><a href="/views/panel/jpanel.html" target="iframe"><i class="iconfont icon-list"></i> 面板</a></div></li>
            <li><div><a href="/views/dialog/index.html" target="iframe"><i class="iconfont icon-list"></i> 弹框</a></div></li>
            <li><div><a href="/views/dialog/tips.html" target="iframe"><i class="iconfont icon-list"></i> 提示框</a></div></li>
            <li><div><a href="/views/form/base.html" target="iframe"><i class="iconfont icon-list"></i> 表单控件</a></div></li>
            <li><div><a href="/views/tree/base.html" target="iframe"><i class="iconfont icon-list"></i> tree控件</a></div></li>
            <li><div><a href="/views/tabs/base.html" target="iframe"><i class="iconfont icon-list"></i> tabs选项卡</a></div></li>
            <li><div><a href="/views/table/table.html" target="iframe"><i class="iconfont icon-list"></i> 表格</a></div></li>
            <li><div><a href="/views/js/select.html" target="iframe"><i class="iconfont icon-list"></i> 下拉选项框</a></div></li>
            <li><div><a href="/views/js/form.html" target="iframe"><i class="iconfont icon-list"></i> 表单自动赋值</a></div></li>
            <li><div><a href="/views/js/clipboard.html" target="iframe"><i class="iconfont icon-list"></i> clipboard复制</a></div></li>
            <li><div><a href="/views/js/time.html" target="iframe"><i class="iconfont icon-list"></i> 时间控件</a></div></li>
            <li><div><a href="/views/js/js.html" target="iframe"><i class="iconfont icon-list"></i> js函数调用</a></div></li>
            <li><div><a href="/views/js/file.html" target="iframe"><i class="iconfont icon-list"></i> 文件上传</a></div></li>
            <li><div><a href="/views/js/css.html" target="iframe"><i class="iconfont icon-list"></i> css常量类调用</a></div></li>
            <li><div><a href="/views/demo/index.html" target="iframe"><i class="iconfont icon-list"></i> 模板页面</a></div></li>
            <li><div><a href="/views/fenye/index.html" target="iframe"><i class="iconfont icon-list"></i> 分页页面</a></div></li>
            <li><div><a href="/views/jsp/index.html" target="iframe"><i class="iconfont icon-list"></i> jsp页面</a></div></li>
            <li><div><a href="/views/js/pic.html" target="iframe"><i class="iconfont icon-list"></i> 截图下载</a></div></li>
        </ul>
    </li>
    <li>
        <div><i class="iconfont icon-shouye"></i> 手机界面</div>
        <ul>
            <li><div><a href="/views/phone/layout.html" target="iframe"><i class="iconfont icon-list"></i> 页面布局</a></div> </li>
            <li><div><a href="/views/phone/data.html" target="iframe"><i class="iconfont icon-list"></i> 数据加载</a></div> </li>
            <li><div><a href="/views/phone/list.html" target="iframe"><i class="iconfont icon-list"></i> 列表页</a></div> </li>
            <li><div><a href="/views/phone/js.html" target="iframe"><i class="iconfont icon-list"></i> js函数</a></div> </li>
        </ul>
    </li>
    <li>
        <div><i class="iconfont icon-shouye"></i> 图表界面</div>
        <ul>
            <li><div><a href="/views/echarts/index.html" target="iframe"><i class="iconfont icon-list"></i> 图表示例</a></div> </li>
            <li><div><a href="/views/echarts/index2.html" target="iframe"><i class="iconfont icon-list"></i> 图表示例2</a></div> </li>
        </ul>
    </li>

   <!--
    <li>
        <div ><a href="/views/desk/_zdesk.html" target="iframe"><i class="iconfont icon-shouye"></i> 一级菜单</a></div>
    </li>

    <li>
        <div><i class="iconfont icon-shouye"></i> 二级菜单-一层</div>
        <ul>
            <li><div><a href="/pages/case/test.html" target="iframe"><i class="iconfont icon-shouye"></i> 二级菜单-二层</a></div></li>
        </ul>
    </li>

    <li>
        <div><i class="iconfont icon-shouye"></i> 三级菜单-一层</div>
        <ul>
            <li>
                <div><i class="iconfont icon-shouye"></i> 三级菜单-二层</div>
                <ul>
                    <li><div><a href="/pages/case/test.html" target="iframe"><i class="iconfont icon-shouye"></i> 三级菜单-三层</a></div></li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <div><i class="iconfont icon-shouye"></i> 四级菜单-一层</div>
        <ul>

            <li>
                <div><i class="iconfont icon-shouye"></i> 四级菜单-二层</div>
                <ul>
                    <li><div><a href="/pages/case/test.html" target="iframe"><i class="iconfont icon-shouye"></i> 四级菜单-三层</a></div></li>
                </ul>
            </li>
            <li>
                <div><i class="iconfont icon-shouye"></i> 四级菜单-二层</div>
                <ul>
                    <li>
                        <div><i class="iconfont icon-shouye"></i> 四级菜单-三层</div>
                        <ul>
                            <li><div><a href="/pages/case/test.html" target="iframe"><i class="iconfont icon-shouye"></i> 四级菜单-四层</a></div></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    -->

</ul>