@@include('_header.html', {
"title": "模板页面",
"relativePath":"../.."
})

<div  class="page-layout">
    <div class="page-header"><h1>模板页面</h1></div>
    <div class="mt-lg font-b fontsize16">模板页面</div>
    <div class="mt fontsize14 ">知识点：无</div>


    <!--案例1：模板页面 -->
    <div class="mt-lg font-b fontsize14">案例1：模板页面</div>
    <div class="mt fontsize14 ">知识点：模板页面需要引入的js，css代码页面</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <!DOCTYPE html>
        <html lang="zh-CN">
        <head>
            <meta charset="UTF-8" />
            <title>模板页面</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
            <meta name="format-detection" content="telephone=no">
            <meta name="renderer" content="webkit">
            <link rel="stylesheet" type="text/css" href="../../css/all.css">
            <script type="text/javascript" src="../../libs/jquery-3.1.1.js"></script>
            <script type="text/javascript" src="../../js/core.js"></script>
            <script type="text/javascript" src="../../js/ui.js"></script>
        </head>
        <body>
            <div  class="page-layout">

            </div>
        </body>
        </html>
    </xmp>

    <!-- 案例2：页面导航栏 -->
    <div class="mt-lg font-b fontsize14">案例2：页面导航栏</div>
    <div class="mt fontsize14 ">知识点：页面导航栏</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
    <div class="nav">
        <span class="back"><a href="javascript:window.history.go(-1)" ><i class="icon iconfont icon-page-prev" ></i>返回</a></span>
        <span class="title">流程数据</span>
    </div>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="nav mt">
        <span class="back"><a href="javascript:window.history.go(-1)" ><i class="icon iconfont icon-page-prev" ></i>返回</a></span>
        <span class="title">流程数据</span>
    </div>

    <!-- 案例3：页面标题栏 -->
    <div class="mt-lg font-b fontsize14">案例3：页面标题栏</div>
    <div class="mt fontsize14 ">知识点：页面导航栏</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
    <div class="nav-title">表单模板-管理人员请假</div>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="nav-title">表单模板-管理人员请假</div>

    <!-- 案例4：流程填写背景 -->
    <div class="mt-lg font-b fontsize14">案例4：流程填写背景</div>
    <div class="mt fontsize14 ">知识点：流程填写背景</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
        <div class="process-bg"></div>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="process-bg mt">

    </div>

</div>

@@include('_footer.html')