@@include('_phone_header.html', {
"title": "数据加载案例1",
"relativePath":"../../.."
})

<div class="page" >
    <div class="page-header">首页</div>
    <div class="page-content">
        <div class="row mt-lg ml">
            <div class="col-md-6   t_l" id="app">用户名：{{username}}  </div>
            <div class="col-md-6   t_l">地址：{{address}}</div>
        </div>
        <div class="row mt-lg ml">
            <div class="col-md-6   t_l">出生年月：{{birthday}}</div>
            <div class="col-md-6   t_l">学校：{{schoole  }}</div>
        </div>
    </div>
    <div class="page-footer">尾部</div>
</div>

<script>
    var config={
        data:{
            username:"张三",
            address:"广东省深圳市南山科技园",
            birthday:"1987-08-08",
            schoole:"北京大学"
        }
    };
    $("div[class='page-content']").entity(config);
</script>

@@include('_footer.html')