@@include('_phone_header.html', {
"title": "列表页1",
"relativePath":"../../.."
})
<div class="page">
    <div class="page-header">列表页1</div>
    <div class="page-content" >
        <ul class="list" >
            <!--<li><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1848984829,2212207435&fm=27&gp=0.jpg">数据列表1</li>-->
        </ul>
        <!--<div class="listMore">加载更多...</div> -->
    </div>
   <div class="page-footer"></div>
</div>
<script type="text/javascript">
    $(function () {
        var config={
            data:{
                "page":1,
                "pageCount":5,
                "list":[
                    {"src":"http://img3.imgtn.bdimg.com/it/u=1089077272,1321338725&fm=26&gp=0.jpg","name":"列表数据1"},
                    {"src":"http://ww2.sinaimg.cn/bmiddle/6d049714tw1dvkog49v8gg.gif","name":"列表数据2"},
                    {"src":"http://img3.imgtn.bdimg.com/it/u=4234296225,2912479396&fm=26&gp=0.jpg","name":"列表数据3"},
                    {"src":"http://img1.imgtn.bdimg.com/it/u=1032340676,940061867&fm=26&gp=0.jpg","name":"列表数据4"},
                    {"src":"http://img4.imgtn.bdimg.com/it/u=3042217963,2782582921&fm=15&gp=0.jpg","name":"列表数据5"},
                    {"src":"http://img2.imgtn.bdimg.com/it/u=1695560298,3867931140&fm=26&gp=0.jpg","name":"列表数据6"},
                    {"src":"http://img1.imgtn.bdimg.com/it/u=945035926,178495299&fm=26&gp=0.jpg","name":"列表数据7"},
                    {"src":"http://img5.imgtn.bdimg.com/it/u=2121795180,44714171&fm=11&gp=0.jpg","name":"列表数据8"}
                ]
            },
            isOpenCache:true,  //是否开启页面缓存机制 默认false
            moreDiv:$("<div class='listMore'>加载更多...</div>"),
            onItemClick:function (obj) {
                window.location.href="http://www.baidu.com";
            },
            getItem:function (obj) {
                var item=$("<li><img src='"+obj['src']+"'>"+obj['name']+"</li>");
                return item;
            }
        };
        $("ul[class='list']").list(config);
    });
</script>
@@include('_footer.html')