@@include('_header.html', {
"title": "UI",
"relativePath":"../.."
})

<div  class="page-layout">
    <div class="page-header"><h1>分页</h1></div>
    <div class="mt-lg font-b fontsize16">分页代码</div>
    <div class="mt fontsize14 ">知识点：无</div>


    <!--案例1：分页html静态代码< -->
    <div class="mt-lg font-b fontsize14">案例1：分页html静态代码</div>
    <div class="mt fontsize14 ">知识点：div#selected为选中页码</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="fenyeBorder">
            <div class="fenye">
                <div class="fenye-btn"><a href="#" title="首页"> 首页</a></div>
                <div class="fenye-btn"><a href="#" title="上一页"> 上一页</a></div>
                <div class="fenye-num" id="selected"><a href="#">1</a></div>
                <div class="fenye-num" ><a href="#">2</a></div>
                <div class="fenye-num" ><a href="#">3</a></div>
                <div class="fenye-num" ><a href="#">4</a></div>
                <div class="fenye-num" ><a href="#">5</a></div>
                <div class="fenye-num" ><a href="#">6</a></div>
                <div class="fenye-num" ><a href="#">7</a></div>
                <div class="fenye-num" ><a href="#">8</a></div>
                <div class="fenye-num" ><a href="#">9</a></div>
                <div class="fenye-num" ><a href="#">10</a></div>
                <div class="fenye-btn"><a href="#" title="下一页"> 下一页</a></div>
                <div class="fenye-btn"><a href="#" title="末页"> 末页</a></div>
                <div class="fenye-txt">共7条记录  共<font>1</font>页 </div>
            </div>
        </div>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="fenyeBorder">
        <div class="fenye">
            <div class="fenye-btn"><a href="#" title="首页"> 首页</a></div>
            <div class="fenye-btn"><a href="#" title="上一页"> 上一页</a></div>
            <div class="fenye-num" id="selected"><a href="#">1</a></div>
            <div class="fenye-num" ><a href="#">2</a></div>
            <div class="fenye-num" ><a href="#">3</a></div>
            <div class="fenye-num" ><a href="#">4</a></div>
            <div class="fenye-num" ><a href="#">5</a></div>
            <div class="fenye-num" ><a href="#">6</a></div>
            <div class="fenye-num" ><a href="#">7</a></div>
            <div class="fenye-num" ><a href="#">8</a></div>
            <div class="fenye-num" ><a href="#">9</a></div>
            <div class="fenye-num" ><a href="#">10</a></div>
            <div class="fenye-btn"><a href="#" title="下一页"> 下一页</a></div>
            <div class="fenye-btn"><a href="#" title="末页"> 末页</a></div>
            <div class="fenye-txt">共7条记录  共<font>1</font>页 </div>
        </div>
    </div>

    <!-- 案例2：不带条件查询分页Java代码 -->
    <div class="mt-lg font-b fontsize14">案例2：不带条件查询分页Java代码一</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
        //Java代码如下
        int pageSize=12; //每页显示的数量
        int page=1;
        String pageStr=request.getParameter("page");  //获得当前第几页
        if(pageStr!=null){page=Integer.valueOf(pageStr);}
        String filter="";  //查询sql语句的条件部分
        String urlAddress=""; //url路径包括参数在内，分页参数除外
        int countTotal=entityService.getCount(Object.class, filter); //获取总记录数
        FenYeUtil fenyeUtil=FenYeUtil.getInstance(page, countTotal, pageSize,urlAddress);
        Integer startRecord=fenyeUtil.getStartRecord();
        Integer recordSize=fenyeUtil.getRecordSize();
        List<Object> objList=entityService.getList(Object.class, filter, startRecord, recordSize); //分页查询记录数
        request.setAttribute("fenyeUtil",fenyeUtil);

        //jsp页面调用代码如下
        <div class="fenyeBorder">
            <div class="fenye" id="fenye">
                ${fenyeUtil.pageStr }
            </div>
        </div>
    </xmp>


    <!-- 案例3：不带条件查询分页Java代码二 -->
    <div class="mt-lg font-b fontsize14">案例3：不带条件查询分页Java代码二</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
        //Java代码如下
        int pageSize=12; //每页显示的数量
        String urlAddress="";
        String fixedFilter="";
        EntityList el=new EntityList(request);
        //如果有条件，则调用 el.setParamValue("paramName");
        FenYeUtil fenyeUtil=el.getFenYeUtil(entityProxyService, Object.class, pageSize, urlAddress, fixedFilter);
        String orderby="order by createtime desc";
        List<Object> paymentList=el.getList(entityProxyService, fenyeUtil, Object.class,orderby );
        request.setAttribute("fenyeUtil",fenyeUtil);

        //jsp页面调用代码如下
        <div class="fenyeBorder">
            <div class="fenye" id="fenye">
                ${fenyeUtil.pageStr }
            </div>
        </div>
    </xmp>


    <!-- 案例4：带条件查询的分页Java代码 -->
    <div class="mt-lg font-b fontsize14">案例4：带条件查询的分页Java代码</div>
    <div class="mt fontsize14 ">知识点：这里举例，带开始时间，结束时间，以及搜索名称来说明</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
            String accountId=(String) request.getSession().getAttribute(SessionBiz.id_person);
            String startTime=RequestUtil.getRequestValue(request, "startTime");
            String endTime=RequestUtil.getRequestValue(request, "endTime");
            String searchName=RequestUtil.getRequestValue(request, "searchName");
            List<String> sqlList=new ArrayList<String>();
            List<String> urlList=new ArrayList<String>();
            boolean hasRecord=true;  //是否有记录 默认有
            if(!Message.isEmpty(startTime)){
                String sql="createtime > to_date('"+startTime+"','yyyy-mm-dd')";
                sqlList.add(sql);
                String url="startTime="+startTime;
                urlList.add(url);
            }
            if(!Message.isEmpty(endTime)){
                String sql=" createtime <= to_date('"+endTime+"','yyyy-mm-dd')";
                sqlList.add(sql);
                String url="endTime="+endTime;
                urlList.add(url);
            }

            if(!Message.isEmpty(searchName)){
                List<Project> projectList=entityProxyService.getList(Project.class, "accountId='"+accountId+"' and   projectName like '%"+searchName+"%' and status=1");
                if(projectList.size()>0){
                    StringBuffer idsb=new StringBuffer();
                    for(Project obj:projectList){
                       idsb.append(obj.getProjectId()+",");
                    }
                    idsb.deleteCharAt(idsb.length()-1);
                    String sql="projectId in("+idsb.toString()+") ";
                    sqlList.add(sql);
                    String url="searchName="+searchName;
                    urlList.add(url);
                }else{
                   hasRecord=false;
                }
             }

            String sql="accountId= '"+accountId;
            String url="";
            if(sqlList.size()>0){
                for(String s:sqlList){
                    if(Message.isEmpty(sql)){
                      sql+="  "+s;
                    }else{
                      sql+=" and "+s;
                    }
                }
            }
            if(urlList.size()>0){
                for(String s:urlList){
                    if(Message.isEmpty(url)){
                       url+="?"+s;
                    }else{
                       url+="&"+s;
                    }

                }
            }
            String filter=sql+" order by createtime desc ";
            int pageSize=12; //每页显示的数量
            int page=1;
            String pageStr=request.getParameter("page");  //获得当前第几页
            if(pageStr!=null){page=Integer.valueOf(pageStr);}
            String urlAddress="/person/financial/list_report.html"+url; //url路径包括参数在内，分页参数除外
            if(hasRecord){
                int countTotal=entityProxyService.getCount(FinancialReport.class, filter); //获取总记录数
                FenYeUtil fenyeUtil=FenYeUtil.getInstance(page, countTotal, pageSize,urlAddress);
                Integer startRecord=fenyeUtil.getStartRecord();
                Integer recordSize=fenyeUtil.getRecordSize();
                List<FinancialReport> objList=entityProxyService.getList(FinancialReport.class, filter, startRecord, recordSize); //分页查询记录数
                request.setAttribute("fenyeUtil",fenyeUtil);
                request.setAttribute("objList", objList);
            }else{
                int countTotal=0; //获取总记录数
                FenYeUtil fenyeUtil=FenYeUtil.getInstance(page, countTotal, pageSize,urlAddress);
                List<FinancialReport> objList=new ArrayList<FinancialReport>(); //分页查询记录数
                request.setAttribute("fenyeUtil",fenyeUtil);
                request.setAttribute("objList", objList);
            }
    </xmp>






</div>

@@include('_footer.html')