@@include('_header.html', {
"title": "UI",
"relativePath":"../.."
})
<script src="../../libs/clipboard.js"></script>
<div class="page-layout">
    <div class="page-header"><h1>clipboard使用总结</h1></div>
    <div class="mt-lg font-b fontsize16">clipboard.js是一款轻量级的实现复制文本到剪贴板功能的JavaScript插件。
        通过该插件可以将输入框，文本域，DIV元素中的文本等文本内容复制到剪贴板中
    </div>
    <div class="mt fontsize14 ">知识点： clipboard.js支持主流的浏览器：chrome 42+; Firefox 41+; IE 9+; opera 29+; Safari 10+;
        使用时需要在页面中引入clipboard.js文件
    </div>
    <!--案例1：从target复印目标内容 -->
    <div class="mt-lg font-b fontsize14">案例1：从target复印目标内容</div>
    <div class="mt fontsize14 ">
        知识点：可以从input、textare、div中通过copy/cut获取内容目标内容。data-clipboard-action这里使用copy，
        同时也可以使用cut，则点击按钮后，内容里的值被剪切。如果没有指定，则默认值是copy。cut只能在input和textare中起作用
    </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    <div class="mt">
        <input id="demo1" type="text" value="hello">
        <button class="btn1" data-clipboard-action="copy" data-clipboard-target="#demo1">Copy</button>
    </div>
    <div class="mt">
        <textarea id="demo2">hello</textarea>
        <button class="btn2" data-clipboard-action="cut" data-clipboard-target="#demo2">Cut</button>
    </div>
    <div class="mt">
        <span id="dmeo3">hello_div</span>
        <button class="btn3" data-clipboard-action="copy" data-clipboard-target="#dmeo3">Copy</button>
    </div>
    <script src="../../libs/clipboard.js"></script>
    <script type="text/javascript">
        // button的class的值
        var clipboard1 = new Clipboard('.btn1');
        clipboard1.on('success', function(e) {
            console.log(e);
        });

        clipboard1.on('error', function(e) {
            console.log(e);
        });

        new Clipboard('.btn2');
        new Clipboard('.btn3');
    </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <input id="demo1" type="text" value="hello">
        <button class="btn1" data-clipboard-action="copy" data-clipboard-target="#demo1">Copy</button>
    </div>
    <div class="mt">
        <textarea id="demo2">hello</textarea>
        <button class="btn2" data-clipboard-action="cut" data-clipboard-target="#demo2">Cut</button>
    </div>
    <div class="mt">
        <span id="dmeo3">hello_div</span>
        <button class="btn3" data-clipboard-action="copy" data-clipboard-target="#dmeo3">Copy</button>
    </div>
    <script type="text/javascript">
        // button的class的值
        var clipboard1 = new Clipboard('.btn1');
        clipboard1.on('success', function(e) {
            console.log(e);
        });

        clipboard1.on('error', function(e) {
            console.log(e);
        });

        new Clipboard('.btn2');
        new Clipboard('.btn3');
    </script>

    <!--案例2：通过function 要复印的内容 -->
    <div class="mt-lg font-b fontsize14">案例2：通过function 要复印的内容</div>
    <div class="mt fontsize14 ">
        知识点：通过target的function复印内容
    </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="mt">
            <button class="btn4">Copy</button>
        </div>
        <script type="text/javascript">
            new Clipboard('.btn4', {
                // 点击copy按钮，直接通过text直接返回复印的内容
                text: function() {
                    return 'to be or not to be';
                }
            });
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <button class="btn4">Copy</button>
    </div>
    <script type="text/javascript">
        new Clipboard('.btn4', {
            // 点击copy按钮，直接通过text直接返回复印的内容
            text: function() {
                return 'to be or not to be';
            }
        });
    </script>


    <!--案例3：通过属性返回复印的内容 -->
    <div class="mt-lg font-b fontsize14">案例3：通过属性返回复印的内容</div>
    <div class="mt fontsize14 ">
        知识点：通过class获取所有button按钮，并做为参数传送给Clipboard。每个按钮被点击时，
        返回值的内容是其对应的data-clipboard-text的内容，分别是1，2，3
    </div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    <div class="mt">
        <button class="btn5" data-clipboard-text="1">Copy</button>
        <button class="btn5" data-clipboard-text="2">Copy</button>
        <button class="btn5" data-clipboard-text="3">Copy</button>
    </div>
    <script type="text/javascript">
        new Clipboard('.btn5');
    </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <button class="btn5" data-clipboard-text="1">Copy</button>
        <button class="btn5" data-clipboard-text="2">Copy</button>
        <button class="btn5" data-clipboard-text="3">Copy</button>
    </div>
    <script type="text/javascript">
        new Clipboard('.btn5');
    </script>

</div>