@@include('_header.html', {
"title": "css常量类调用",
"relativePath":"../.."
})
<style type="text/css">
    .mydiv{
        width: 100px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        background-color: #e0e0e3;
        text-align: center;
        font-weight: bold;
    }

</style>
<div class="page-layout" >
    <div class="page-header"><h1>css常量类调用</h1></div>
    <div class="mt-lg font-b fontsize16">系统中自定义了css的相关常量类，页面中可以直接调用</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <!--案案例1：日期控件 -->
    <div class="mt-lg font-b fontsize14">案例1：常量类</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        clearfix:清除浮动

        hide:隐藏

        show:显示

        fontsize12:12号字体

        fontsize14:14号字体

        fontsize16:16号字体

        fontsize20:20号字体

        fontsize25:25号字体

        f_l:左浮动

        f_r:右浮动

        p_r:相对定义

        p_a:绝对定位

        t_l:左对齐

        t_r:右对齐

        t_c:居中对齐

        cursor:手型

        asterisk:星号

        font-b:字体加粗

        font-n:字体正常

        mt-ls:上边距5px

        mt:上边距10px

        mt-lg:上边距20px

        mt-lx:上边距45px

        ml-ls:左边距5px

        ml:左边距10px

        ml-lg:左边距20px

        ml-lx:左边距45px

        mr-ls:右边距5px

        mr:右边距10px

        mr-lg:右边距20px

        mr-lx:右边距45px

        mb-ls:下边距5px

        mb:下边距10px

        mb-lg:下边距20px

        mb-lx:下边距45px

        ti:文本缩进10px

        border:边框

        border-no:无边框

        border-no-top:无上边框

        border-no-left:无左边框

        border-no-right:无右边框

        border-no-bottom:无下边框

        border-radius:边框圆角（8px）
        border-radius-ls:边框小圆角(5px)

        width-half:总宽度的一半，最小宽度700px
        width350:宽度350px
        width350-min:最小宽度350px
        width700:宽度700px
        width700-min:最小宽度700px
        width1100:宽度1100px
        width1100-min:最小宽度1100px
        width1500:宽度1500px
        width1500-min:最小宽度1500px

    </xmp>
    <div class="mt">字体颜色</div>
    <div class="border mydiv color-white" >color-white</div>
    <div class="border mydiv color-red" >color-red</div>
    <div class="border mydiv color-red1" >color-red1</div>
    <div class="border mydiv color-blue" >color-blue</div>
    <div class="border mydiv color-blue1" >color-blue1</div>
    <div class="border mydiv color-gray" >color-gray</div>
    <div class="border mydiv color-black" >color-black</div>
    <div class="border mydiv color-yellow" >color-yellow</div>
    <div class="border mydiv color-sys" >color-sys</div>
    <div class="border mydiv color-green" >color-green</div>
    <div class="border mydiv color-sys2" >color-sys2</div>
    <div class="mt">背景颜色</div>
    <div class="border mydiv bgcolor-one" >bgcolor-one</div>
    <div class="border mydiv bgcolor-two" >bgcolor-two</div>
    <div class="border mydiv bgcolor-three" >bgcolor-three</div>
    <div class="border mydiv bgcolor-pale" >bgcolor-pale</div>
    <div class="border mydiv bgcolor-white" >bgcolor-white</div>
    <div class="border mydiv bgcolor-blue color-white" >bgcolor-blue</div>

    <div class="mt">边框颜色</div>
    <div class="border mydiv bgcolor-white " >border</div>
    <div class="border-blue mydiv bgcolor-white " >border-blue</div>




</div>


@@include('_footer.html')