@@include('_header.html', {
"title": "js函数调用",
"relativePath":"../.."
})

<div class="page-layout" >
    <div class="page-header"><h1>js函数调用</h1></div>
    <div class="mt-lg font-b fontsize16">系统中自定义了js的相关函数，页面中可以直接调用</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <!--案案例1：日期控件 -->
    <div class="mt-lg font-b fontsize14">案例1：数据校验</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
    /**
    * 验证是否合法
    * @param reg  正则表达式
    * @param str  需要校验的字符串
    * @returns {boolean}
    */
    var result=verific.isLegal(reg,str);

    /**
    * 验证是否为数字
    * @param str  需要校验的字符串
    * @returns {boolean}
    */
    var result=verific.isDigit(str);

    /**
    * 验证是否为空
    * @param str
    * @returns {boolean}
    */
    var result=verific.isEmpty(str);
    </xmp>


    <!--案例2：发送post请求 -->
    <div class="mt-lg font-b fontsize14">案例2：发送post请求</div>
    <div class="mt fontsize14 ">知识点：发送post请求需要用iroad来发起</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        var url="";  //请求能够返回message对象的url地址
        var param={}  //发起请求的参数
        pc.post(url,param,function(data){
            //只处理返回成功的情况，返回错误的情况已经被系统自动拦截并提示
        });
    </xmp>


    <!--案例3：页面返回与刷新 -->
    <div class="mt-lg font-b fontsize14">案例3：页面返回与刷新</div>
    <div class="mt fontsize14 ">知识点：页面返回与刷新需要成对使用</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        pcPage.refresh();  //刷新页面
        pcPage.goback();   //返回页面
    </xmp>


</div>


@@include('_footer.html')