@@include('_header.html', {
"title": "下拉选项框",
"relativePath":"../.."
})
<!--
<script type="text/javascript" src="../../js/pages/template.js"></script>
-->
<div  class="page-layout">
    <div class="page-header"><h1>下拉选项框</h1></div>
    <div class="mt-lg font-b fontsize16">下拉选项框</div>
    <div class="mt fontsize14 ">知识点：无</div>
    <!--案例1：基本下拉选项框 -->
    <div class="mt-lg font-b fontsize14">案例1：基本下拉选项框</div>
    <div class="mt fontsize14 ">知识点：</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <select  name="select1"   >
            <option>请选择</option>
            <option>北京</option>
            <option>上海</option>
            <option>重庆</option>
            <option>天津</option>
        </select>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
       <select name="select1"    >
           <option>请选择</option>
           <option>北京</option>
           <option>上海</option>
           <option>重庆</option>
           <option>天津</option>
       </select>
    </div>


    <!--案例2：下拉选项框联动 -->
    <div class="mt-lg font-b fontsize14">案例2：下拉选项框联动</div>
    <div class="mt fontsize14 ">知识点：联动下拉选项框需要有一个data-url属性同时需要绑定selectOnChange()方法</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <select name="select2"   data-url="http://localhost:7878/city" >
            <option value="">请选择</option>
            <option value="11">天门</option>
            <option value="22">武汉</option>
            <option value="33">厦门</option>
            <option value="44">仙桃</option>
        </select>
        <script type="text/javascript">
            $(function () {
                $("select[name='select2']").selectOnChange();
            })
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <select name="select2"   data-url="http://localhost:7878/city" >
            <option value="">请选择</option>
            <option value="11">天门</option>
            <option value="22">武汉</option>
            <option value="33">厦门</option>
            <option value="44">仙桃</option>
        </select>
    </div>
    <script type="text/javascript">
        $(function () {
            $("select[name='select2']").selectOnChange();
        })
    </script>


    <!--案例3：初始化下拉选项框 -->
    <div class="mt-lg font-b fontsize14">案例3：初始化下拉选项框</div>
    <div class="mt fontsize14 ">知识点：初始化下拉选项框需要有一个data-init-url属性同时需要绑定selectInit()方法</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <select name="select3"   data-init-url="http://localhost:7878/city" ></select>
        <script type="text/javascript">
            $(function () {
                $("select[name='select3']").selectInit();
            })
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <select name="select3"   data-init-url="http://localhost:7878/city" ></select>
    </div>
    <script type="text/javascript">
        $(function () {
            $("select[name='select3']").selectInit();
        })
    </script>


    <!--案例4：初始化下拉选项框并赋值 -->
    <div class="mt-lg font-b fontsize14">案例4：初始化下拉选项框并赋值</div>
    <div class="mt fontsize14 ">知识点：初始化下拉选项框需要有一个data-init-url属性,同时需要在回调函数里面赋值</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <select name="select4"   data-init-url="http://localhost:7878/city" ></select>
        <script type="text/javascript">
            $(function () {
                $("select[name='select4']").selectInit(function(obj){
                    $(obj).val(22);
                });
            })
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <select name="select4"   data-init-url="http://localhost:7878/city" ></select>
    </div>
    <script type="text/javascript">
        $(function () {
            $("select[name='select4']").selectInit(function(obj){
                $(obj).val("22");
            });
        })
    </script>


    <!--案例5：初始化下拉选项框并联动 -->
    <div class="mt-lg font-b fontsize14">案例5：初始化下拉选项框并联动</div>
    <div class="mt fontsize14 ">知识点：初始化下拉选项框需要有一个data-init-url属性并且联动下拉选项框需要有一个data-url属性</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <select name="select5"   data-init-url="http://localhost:7878/city" data-url="http://localhost:7878/city" ></select>
        <script type="text/javascript">
            $(function () {
                $("select[name='select5']").selectInit();
            })
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <select name="select5"   data-init-url="http://localhost:7878/city" data-url="http://localhost:7878/city"  ></select>
    </div>
    <script type="text/javascript">
        $(function () {
            $("select[name='select5']").selectInit();
        })
    </script>


    <!--案例6：初始化下拉选项框并赋值且联动 -->
    <div class="mt-lg font-b fontsize14">案例6：初始化下拉选项框并赋值且联动</div>
    <div class="mt fontsize14 ">知识点：初始化下拉选项框需要有一个data-init-url属性并且联动下拉选项框需要有一个data-url属性</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <select name="select6"   data-init-url="http://localhost:7878/city" data-url="http://localhost:7878/city" data-value="22,44,11"  ></select>
        <script type="text/javascript">
            $(function () {
                $("select[name='select6']").selectInit(function (obj) {
                    var value=$(obj).attr("data-value");
                    if(value&&value!=""){
                        var arr=value.split(",");
                        var length=arr.length;
                        var firstValue=arr[0];
                        $(obj).val(firstValue);
                        if(length>1){
                            arr.remove(0);
                            $(obj).loadSelectInitValue(firstValue,arr);
                        }
                    }
                });
            })
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="mt">
        <select name="select6"   data-init-url="http://localhost:7878/city" data-url="http://localhost:7878/city" data-value="22,44,11"  ></select>
    </div>
    <script type="text/javascript">
        $(function () {
            $("select[name='select6']").selectInit(function (obj) {
                var value=$(obj).attr("data-value");
                if(value&&value!=""){
                    var arr=value.split(",");
                    var length=arr.length;
                    var firstValue=arr[0];
                    $(obj).val(firstValue);
                    if(length>1){
                        arr.remove(0);
                        $(obj).loadSelectInitValue(firstValue,arr);
                    }
                }
            });
        })
    </script>



</div>

@@include('_footer.html')