@@include('_header.html', {
"title": "tabs选项卡",
"relativePath":"../.."
})
<div  class="page-layout">
    <div class="page-header"><h1>tabs选项卡</h1></div>
    <div class="mt-lg font-b fontsize16">tabs选项卡常用于一个页面中需要展示多个界面的情况</div>
    <div class="mt fontsize14 ">知识点：tabs选项卡以class类名为tabs tabs-menu tabs-header等组合使用</div>
    <!-- 案例1：tabs选项卡之链接 -->
    <div class="mt-lg font-b fontsize14">案例1：tabs选项卡之链接1</div>
    <div class="mt fontsize14 ">知识点：不需要tab切换，点击链接直接跳转显示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
    <div class="tabs-menu-one">
        <p class="selected"><a href="#">基础信息</a></p>
        <p ><a href="#">学习经历</a></p>
        <p ><a href="#">工作经历</a></p>
        <p ><a href="#">家庭信息</a></p>
        <p ><a href="#">合同管理</a></p>
    </div>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="tabs-menu-one mt">
        <p class="selected"><a href="#">基础信息</a></p>
        <p ><a href="#">学习经历</a></p>
        <p ><a href="#">工作经历</a></p>
        <p ><a href="#">家庭信息</a></p>
        <p ><a href="#">合同管理</a></p>
    </div>

    <!-- 案例2：tabs选项卡之链接 -->
    <div class="mt-lg font-b fontsize14">案例2：tabs选项卡之链接2</div>
    <div class="mt fontsize14 ">知识点：不需要tab切换，点击链接直接跳转显示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
    <div class="tabs-menu-two">
        <p class="selected"><a href="#">项目立项</a></p>
        <p ><a href="#">项目初审</a></p>
        <p ><a href="#">项目复审</a></p>
    </div>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="tabs-menu-two mt">
        <p class="selected"><a href="#">项目立项</a></p>
        <p ><a href="#">项目初审</a></p>
        <p ><a href="#">项目复审</a></p>
    </div>

    <!-- 案例3：tabs选项卡之链接3 -->
    <div class="mt-lg font-b fontsize14">案例3：tabs选项卡之链接3</div>
    <div class="mt fontsize14 ">知识点：不需要tab切换，点击链接直接跳转显示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
        <div class="tabs-menu-three">
            <p class="selected"><a href="#">项目立项</a></p>
            <p ><a href="#">项目初审</a></p>
            <p ><a href="#">项目复审</a></p>
        </div>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="tabs-menu-three mt">
        <p class="selected"><a href="#">项目立项</a></p>
        <p ><a href="#">项目初审</a></p>
        <p ><a href="#">项目复审</a></p>
    </div>

    <!-- 案例4：tabs选项卡之链接4 -->
    <div class="mt-lg font-b fontsize14">案例4：tabs选项卡之链接4</div>
    <div class="mt fontsize14 ">知识点：不需要tab切换，点击链接直接跳转显示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
        <div class="tabs-menu-four">
            <p class="selected"><a href="#">项目立项</a></p>
            <p ><a href="#">项目初审</a></p>
            <p ><a href="#">项目复审</a></p>
            <span class="spanbtn">
                <a class="color-sys" href="#" ><i class="icon iconfont icon-update "></i> 修改</a>
            </span>
        </div>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="tabs-menu-four mt">
        <p class="selected"><a href="#">项目立项</a></p>
        <p ><a href="#">项目初审</a></p>
        <p ><a href="#">项目复审</a></p>
        <span class="spanbtn">
            <a class="color-sys" href="#" ><i class="icon iconfont icon-update "></i> 修改</a>
        </span>
    </div>


    <!-- 案例4-1：tabs选项卡之链接5 -->
    <div class="mt-lg font-b fontsize14">案例4-1：tabs选项卡之链接5</div>
    <div class="mt fontsize14 ">知识点：不需要tab切换，点击链接直接跳转显示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code">
        <div class="tabs-menu-five">
            <p class="selected"><a href="#">项目立项</a></p>
            <p ><a href="#">项目初审</a></p>
            <p ><a href="#">项目复审</a></p>
        </div>
    </xmp>
    <div class="mt">效果如下：</div>
    <div class="tabs-menu-five mt">
        <p class="selected"><a href="#">项目立项</a></p>
        <p ><a href="#">项目初审</a></p>
        <p ><a href="#">项目复审</a></p>
    </div>



    <!-- 案例5：tabs选项卡之切换 -->
    <div class="mt-lg font-b fontsize14">案例5：tabs选项卡之切换</div>
    <div class="mt fontsize14 ">知识点：需要点击切换显示</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <div class="tabs">
            <div class="tabs-header tabs-menu-four">
                <p class="selected">标题1</p>
                <p >标题2</p>
                <p>标题3</p>
                <p>标题4</p>
            </div>
            <div class="tabs-content ">
                内容111111111111111
            </div>
            <div class="tabs-content ">
                内容222222222222222
            </div>
            <div class="tabs-content ">
                内容333333333333333
            </div>
            <div class="tabs-content ">
                内容44444444444444
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $(".tabs").initTab();
            })
        </script>
    </xmp>
    <div class="mt">效果如下：</div>

    <div class="tabs mt">
        <div class="tabs-header tabs-menu-four">
            <p class="selected">标题1</p>
            <p >标题2</p>
            <p>标题3</p>
            <p>标题4</p>
        </div>
        <div class="tabs-content ">
            内容111111111111111
        </div>
        <div class="tabs-content ">
            内容222222222222222
        </div>
        <div class="tabs-content ">
            内容333333333333333
        </div>
        <div class="tabs-content ">
            内容44444444444444
        </div>
    </div>



</div>
<script type="text/javascript">
    $(function () {
        $(".tabs").initTab();
    })
</script>
@@include('_footer.html')