@@include('_header.html', {
"title": "公司管理",
"relativePath":"../.."
})
<style type="text/css">
    .fastMenu{
        border:0px red solid;
        float: left;
        padding: 5px 10px;
        margin: 15px 10px 5px 10px;
    }
    .fastMenu i{font-size: 14px;}
    .row [class^="col-"]{
        padding: 0px;
    }
    p{
       border-bottom: 1px dotted #dfe5e7;
       line-height: 20px;
    }
    .panelContent{padding-bottom: 10px;}
</style>
<div  class="page-layout">
    <div  class="panel mt">
        <div class="panelHeader">日常办公</div>
        <div class="panelContent">
            <div class="fastMenu"><a href="#"><i class="iconfont icon-ziyuan24"></i> 我的工作</a></div>
            <div class="fastMenu"><a href="#"><i class="iconfont icon-ziyuan24"></i> 我的工作</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div  class="panel mt  border">
                <div class="panelHeader border-no-left border-no-right border-no-top">未审批</div>
                <div class="panelContent border-no">
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项初审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项复审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项终审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项初审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项复审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项终审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项初审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项复审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项终审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">项目立项终审</a> </span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div  class="panel mt ml border">
                <div class="panelHeader border-no-left border-no-right border-no-top">我的消息</div>
                <div class="panelContent border-no">
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (已读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (已读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (已读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                    <p class="mt-ls ml mr">
                        <span><a href="#">放假通知</a> (未读)</span>
                        <span class="f_r">2017-12-25 11:30</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
@@include('_footer.html')