<table class="table-no-border" >
    <tr>
        <td>部门名称1 </td>
        <td><input type="text"  ></td>
        <td>部门名称  </td>
        <td><input type="text"  ><span class="asterisk ml"></span></td>
    </tr>
    <tr>
        <td>部门名称</td>
        <td><input type="text"    ></td>
        <td>部门名称</td>
        <td><input type="text"    ></td>
    </tr>
    <tr>
        <td>性别</td>
        <td>
            <label ><input type="radio" name="sex" >男</label>
            <label class="ml"><input type="radio" name="sex" >女</label>
        </td>
        <td>部门</td>
        <td>
            <select >
                <option>请选择</option>
                <option>技术部</option>
                <option>运营部</option>
                <option>策划部</option>
            </select>

        </td>
    </tr>
    <tr>
        <td>部门名称</td>
        <td colspan="3"><input type="text" class="form-width-full-differ"   ></td>
    </tr>
    <tr>
        <td>备注</td>
        <td colspan="3">
            <textarea  placeholder="请填写备注信息..." class="form-width-full-differ"></textarea>
        </td>
    </tr>
</table>