<div class="mt mr-lg ml-lg">
<table class="table-border">
        <tr>
            <td>部门名称1 </td>
            <td><input type="text" class="form-width-full"  ></td>
            <td>部门名称  </td>
            <td><input type="text" class="form-width-full" ></td>
        </tr>
        <tr>
            <td>部门名称</td>
            <td><input type="text"  class="form-width-full"   ></td>
            <td>日期</td>
            <td><input type="text"  class="form-width-full iroad-time"  ></td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <label class="radio"><input type="radio" name="sex"><div class="option"></div>男</label>
                <label class="radio"><input type="radio" name="sex"><div class="option"></div>女</label>
            </td>
            <td>部门</td>
            <td>
                <select >
                    <option>请选择</option>
                    <option>技术部</option>
                    <option>运营部</option>
                    <option>策划部</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>部门名称</td>
            <td colspan="3"><input type="text" class="form-width-full"   ></td>
        </tr>
        <tr>
            <td>备注</td>
            <td colspan="3">
                <textarea  placeholder="请填写备注信息..." class="form-width-full"></textarea>
            </td>
        </tr>
</table>
</div>
<script type="text/javascript">
    $(function(){
        calendar.init();
    });
</script>