@@include('_header.html', {
"title": "tree控件",
"relativePath":"../.."
})
<div  class="page-layout">
    <div class="page-header"><h1>tree控件</h1></div>
    <div class="mt-lg font-b fontsize16">tree控件在树形结构中使用比较多</div>
    <div class="mt fontsize14 ">知识点：tree控件需要用ul li div等标签组合使用，并且父元素UL的标签class为tree</div>
    <!--案例1：基础tree控件 -->
    <div class="mt-lg font-b fontsize14">案例1：基础tree控件</div>
    <div class="mt fontsize14 ">知识点：以下案例演示了基础的tree控件是由上面标签组成的以及如何进行初始化</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
        <ul class="tree">
            <li>
                <div>
                    <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                    <span class="tree-text icon iconfont icon-company" data-value="123" > 深圳赢科创有限公司</span>
                    <span class="tree-person">20人</span>
                </div>
                <ul>
                    <li>
                        <div >
                            <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                            <span class="tree-text icon iconfont icon-fangzi1" > 总经办</span>
                            <span class="tree-person">10人</span>
                        </div>
                        <ul>


                        </ul>
                    </li>
                    <li>
                        <div >
                            <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                            <span class="tree-text icon iconfont icon-fangzi1" > 研发中心</span>
                        </div>
                        <ul>
                            <li>
                                <div >
                                    <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                    <span class="tree-text icon iconfont icon-zaixianrenshu selected" > 研发中心总经理</span>

                                </div>
                                <ul>


                                </ul>
                            </li>

                            <li>
                                <div >
                                    <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                    <span class="tree-text icon iconfont icon-fangzi1" > 技术部</span>
                                    <span class="tree-person">10人</span>
                                </div>
                                <ul>


                                </ul>
                            </li>
                            <li>
                                <div >
                                    <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                    <span class="tree-text icon iconfont icon-fangzi1" > 产品部</span>
                                    <span class="tree-person">10人</span>
                                </div>
                                <ul>


                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>


        <ul class="tree">
            <li>
                <div>
                    <span class="tree-text icon iconfont icon-company" data-value="123" > 深圳赢科创有限公司</span>
                    <span class="tree-person">20人</span>
                </div>
                <ul>
                    <li>
                        <div >
                            <span class="tree-text icon iconfont icon-fangzi1" > 总经办</span>
                            <span class="tree-person">10人</span>
                        </div>
                        <ul>


                        </ul>
                    </li>
                    <li>
                        <div >
                            <span class="tree-text icon iconfont icon-fangzi1" > 研发中心</span>
                        </div>
                        <ul>
                            <li>
                                <div >
                                    <span class="tree-text icon iconfont icon-zaixianrenshu selected" > 研发中心总经理</span>

                                </div>
                                <ul>


                                </ul>
                            </li>

                            <li>
                                <div >
                                    <span class="tree-text icon iconfont icon-fangzi1" > 技术部</span>
                                    <span class="tree-person">10人</span>
                                </div>
                                <ul>


                                </ul>
                            </li>
                            <li>
                                <div >
                                    <span class="tree-text icon iconfont icon-fangzi1" > 产品部</span>
                                    <span class="tree-person">10人</span>
                                </div>
                                <ul>


                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </xmp>
    <div class="mt">效果如下：</div>
    <ul class="tree">
        <li>
            <div>
			    <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                <span class="tree-text icon iconfont icon-company" data-value="123" > 深圳赢科创有限公司</span>
                <span class="tree-person">20人</span>
            </div>
            <ul>
                <li>
                    <div >
                        <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                        <span class="tree-text icon iconfont icon-fangzi1" > 总经办</span>
                        <span class="tree-person">10人</span>
                    </div>
                    <ul>


                    </ul>
                </li>
                <li>
                    <div >
                        <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                        <span class="tree-text icon iconfont icon-fangzi1" > 研发中心</span>
                    </div>
                    <ul>
                        <li>
                            <div >
                                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                <span class="tree-text icon iconfont icon-zaixianrenshu selected" > 研发中心总经理</span>

                            </div>
                            <ul>


                            </ul>
                        </li>

                        <li>
                            <div >
                                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                <span class="tree-text icon iconfont icon-fangzi1" > 技术部</span>
                                <span class="tree-person">10人</span>
                            </div>
                            <ul>


                            </ul>
                        </li>
                        <li>
                            <div >
                                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                <span class="tree-text icon iconfont icon-fangzi1" > 产品部</span>
                                <span class="tree-person">10人</span>
                            </div>
                            <ul>


                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
    </ul>


    <ul class="tree mt-lg">
        <li>
            <div>
                <span class="tree-text icon iconfont icon-company" data-value="123" > 深圳赢科创有限公司</span>
                <span class="tree-person">20人</span>
            </div>
            <ul>
                <li>
                    <div >
                        <span class="tree-text icon iconfont icon-fangzi1" > 总经办</span>
                        <span class="tree-person">10人</span>
                    </div>
                    <ul>


                    </ul>
                </li>
                <li>
                    <div >
                        <span class="tree-text icon iconfont icon-fangzi1" > 研发中心</span>
                    </div>
                    <ul>
                        <li>
                            <div >
                                <span class="tree-text icon iconfont icon-zaixianrenshu selected" > 研发中心总经理</span>

                            </div>
                            <ul>


                            </ul>
                        </li>

                        <li>
                            <div >
                                <span class="tree-text icon iconfont icon-fangzi1" > 技术部</span>
                                <span class="tree-person">10人</span>
                            </div>
                            <ul>


                            </ul>
                        </li>
                        <li>
                            <div >
                                <span class="tree-text icon iconfont icon-fangzi1" > 产品部</span>
                                <span class="tree-person">10人</span>
                            </div>
                            <ul>


                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
    </ul>


    <!--案例2：带多选按钮的复杂tree控件 -->
    <div class="mt-lg font-b fontsize14">案例2：带多选按钮的复杂tree控件</div>
    <div class="mt fontsize14 ">知识点：以下案例演示了复杂的tree控件，并且可以延伸无限极，我这里只举例三级</div>
    <div class="mt">代码如下：</div>
    <xmp class="demo-code mt">
         html代码与上面一致
        <script type="text/javascript">
            $(function(){
                $(".tree").initTree();
            });
            $(".tree4").initTree(function (data) {
                alert(data);
            });
        </script>
    </xmp>
    <div class="mt">效果如下：</div>
    <ul class="tree tree1">
        <li>
            <div>
                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                <span class="tree-text icon iconfont icon-company" data-value="123" > 深圳赢科创有限公司</span>
                <span class="tree-person">20人</span>
            </div>
            <ul>
                <li>
                    <div >
                        <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                        <span class="tree-text icon iconfont icon-fangzi1" > 总经办</span>
                        <span class="tree-person">10人</span>
                    </div>
                    <ul>


                    </ul>
                </li>
                <li>
                    <div >
                        <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                        <span class="tree-text icon iconfont icon-fangzi1" > 研发中心</span>
                    </div>
                    <ul>
                        <li>
                            <div >
                                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                <span class="tree-text icon iconfont icon-zaixianrenshu selected" > 研发中心总经理</span>

                            </div>
                            <ul>


                            </ul>
                        </li>

                        <li>
                            <div >
                                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                <span class="tree-text icon iconfont icon-fangzi1" > 技术部</span>
                                <span class="tree-person">10人</span>
                            </div>
                            <ul>


                            </ul>
                        </li>
                        <li>
                            <div >
                                <span class="tree-input"><label class="checkbox"><input type="checkbox" name="name"><p class="option"></p></label></span>
                                <span class="tree-text icon iconfont icon-fangzi1" > 产品部</span>
                                <span class="tree-person">10人</span>
                            </div>
                            <ul>


                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
    </ul>





</div>

<script type="text/javascript">
    $(function(){
        $(".tree1").initTree(function (data) {
            console.log(data);
        });
       // $(".tree1").initTree();
       /* $(".tree2").initTree();
        $(".tree3").initTree();
        $(".tree4").initTree(function (data) {
            alert(data);
        });*/
    });
</script>

@@include('_footer.html')